@page "/search"
@using BupaApp.Models
@inject BupaApp.Interfaces.IVehicleRepository _vehicleRepository

<h3>Parent List</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red;">Error: @errorMessage</p>
}

@if (vehicle != null)
{

}

@code {
    private Vehicle vehicle;
    private string errorMessage;
    public string registration;

    private async Task SearchDetails()
    {
        try 
        {
           vehicle = await _vehicleRepository.GetVehicle(registration);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}